{
    "definitions": {
        "sleep_interval": 1
    },
    "sensors": {
        "dht11": 15
    },
    "wifi": {
        "ssid": "",
        "password": ""
    },
    "thingspeak": {
        "channel": 0,
        "apikey": {
            "write": "",
            "read": ""
        }
    }
}
