{
    "definitions": {
        "sleep_interval": 5,
        "min_temperature": 31,
        "min_humidity": 70
    },
    "sensors": {
        "dht11": 15,
        "relay": 13
    },
    "wifi": {
        "ssid": "",
        "password": ""
    },
    "thingspeak": {
        "channel": 0,
        "apikey": {
            "write": "",
            "read": ""
        }
    },
    "logging": {
        "level": "DEBUG",
        "format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
    }
}
